<div class="post-create-form">
  <div class="title-input">
    <div class="border-bottom"></div>
    <span class='title-placeholder'>Tiêu Đề</span>
    <input type="text" />
  </div>
  <div class="submit-form">
    <button style="display:block; margin-bottom:1em;">Overview</button>
    <button class="submit-post" type="submit">Đăng Bài <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </button>
  </div>
  <div id="toolbar-container"></div>
  <div class="container">
    <div id="editor">
      <p>This is the initial editor content.</p>
    </div>
  </div>
</div>